# Chapter 8 데이터 준비하기: 조인, 병합, 변형

## 8.1 계층적 색인

- pandas의 계층적 색인을 통해 축에 대해 다중 색인 `단계`를 지정할 수 있음
- 높은 차원의 데이터를 낮은 채원의 형식으로 다룰 수 있게 해주는 기능

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series(np.random.randn(9),
                 index = [list('aaabbccdd'),
                          [1,2,3,1,3,1,2,2,3]])
data

a  1    1.264037
   2   -0.403840
   3   -0.807954
b  1   -0.531090
   3    1.012241
c  1    0.419572
   2    0.806364
d  2   -1.571278
   3    0.607066
dtype: float64

> 위 객체는 MultiIndex를 색인으로 하는 Series이며 색인의 계층을 보여줌.  
> 바로 위 단계의 색인을 이용해 하위 계층을 직접 접근할 수 있음.

In [3]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

> 계층적으로 색인된 객체는 데이터의 부분집합을 $\text{부분적 색인으로 접근}^{\text{partial indexing}}$ 하는 것이 가능.

In [4]:
data['b']

1   -0.531090
3    1.012241
dtype: float64

In [5]:
data['b':'c']

b  1   -0.531090
   3    1.012241
c  1    0.419572
   2    0.806364
dtype: float64

In [6]:
data.loc[['b','d']]

b  1   -0.531090
   3    1.012241
d  2   -1.571278
   3    0.607066
dtype: float64

> 하위 계층의 객체를 선택하는 것도 가능하다.

In [9]:
data.loc[:, 2]  # 각 알파벳 index 하위 계층의 index 2를 선택

a   -0.403840
c    0.806364
d   -1.571278
dtype: float64

> 계층적 색인은 데이터를 재형성하고 피벗테이블 생성 같은 그룹 기반 작업 시 중요하게 사용됨.  
> 예를 들어 위에서 만든 DataFrame 객체에 unstack 메서드를 사용해 데이터를 새롭게 배열할 수 있음.

In [10]:
data.unstack()

          1         2         3
a  1.264037 -0.403840 -0.807954
b -0.531090       NaN  1.012241
c  0.419572  0.806364       NaN
d       NaN -1.571278  0.607066

> unstack의 반대 작업은 stack 메서드로 수행한다.

In [11]:
data.unstack().stack()

a  1    1.264037
   2   -0.403840
   3   -0.807954
b  1   -0.531090
   3    1.012241
c  1    0.419572
   2    0.806364
d  2   -1.571278
   3    0.607066
dtype: float64

> DataFrame에서는 두 축 모두 계층적 색인을 가질 수 있다.

In [12]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index = [['a','a','b','b'],[1,2,1,2]],
                     columns = [['Ohio','Ohio','Colorado'],
                                ['Green','Red','Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

> 계층적 색인의 각 단계는 이름(문자열이나 어떤 파이썬 객체라도 가능)을 가질 수 있고, 만약 이름을 가지고 있다면 콘솔 출력시 함께 나타남.

In [19]:
frame.index.names = ['key1','key2']
frame.columns.names = ['state','color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

> 컬럼 부분집합을 부분적인 색인으로 접근하는 것도 컬럼에 대한 부분적 색인과 비슷하게 사용하면 됨.

In [30]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

### 8.1.1 계층의 순서를 바꾸고 정렬

> 계층적 색인에서 계층의 순서를 바꾸거나 지정된 계층에 따라 데이터를 정렬해야 하는 경우가 있음.  
> swaplevel은 넘겨받은 두 개의 계층 번호나 이름이 뒤바뀐 새로운 객체를 반환함. (하지만 데이터는 변경되지 않음)

In [48]:
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

> 반면 sort_index 메서드는 단일 계층에 속한 데이터를 정렬.  
> swaplevel을 이용해서 계층을 바꿀 대 sort_index를 사용해서 결과가 사전적으로 정렬되도록 만드는 것도 드물지 않은 일.

In [49]:
frame.sort_index(level=1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [53]:
frame.swaplevel(0,1)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [51]:
frame.swaplevel(0,1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

### 8.1.2 계층별 요약 통계

> DataFrame과 Series의 많은 기술 통계와 요약 통계는 level 옵션을 가지고 있음.  
> 앞에서 살펴본 DataFrame에서 로우나 컬럼을 아래처럼 계층별로 합할 수 있다.

In [58]:
frame.sum(level = "key2")

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [60]:
frame.sum(level = "color", axis = 1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

### 8.1.3 DataFrame의 컬럼 사용하기

> DataFrame에서 로우를 선택하기 위한 색인으로 하나 이상의 컬럼을 사용하는 것은 드물지 않다.  
> 혹은 로우의 색인을 DataFrame의 컬럼으로 옮길 수도 있다.

In [63]:
frame = pd.DataFrame({"a" : range(7),
                      "b" : range(7,0,-1),
                      "c" : ["one",'one','one','two','two','two','two'],
                      "d" : [0,1,2,0,1,2,3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

> DataFrame의 set_index 함수는 하나 이상의 컬럼을 색인으로 하는 새로운 DataFrame을 생성.

In [65]:
frame2 = frame.set_index(['c','d'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

> 다음처럼 컬럼을 명시적으로 남겨두지 않으면 DataFrame에서 삭제된다.

In [66]:
frame.set_index(['c','d'], drop = False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

> 반면 reset_index 함수는 set_index와 반대되는 개념인데 계층적 색인 단계가 컬럼으로 이동함.

In [67]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1